{% extends 'navigation.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="change-password-card card shadow mt-5 p-4">
        <h4 class="change-title text-primary text-center mb-4">Change Password</h4>
        <form method="POST" name="changepassword" onsubmit="return checkpass();">
            {% csrf_token %}
            <div class="form-group">
                <label>Current Password</label>
                <input type="password" name="currentpassword" id="currentpassword" placeholder="Enter Current Password" class="form-control" required>
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="newpassword" placeholder="Enter New Password" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Enter New Password Again" class="form-control" required>
            </div>
            <div class="text-center">
                <input type="submit" value="Submit" class="btn btn-primary px-4 mt-2">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
        {
            alert('New Password and Confirm Password field does not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>
{% endblock %}