{% extends 'userbase.html' %}
{% load static %}

{% block title %}My Order Track{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link href="{% static 'css/progress-bar.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Track Order Status
                    </h4>
                    <p class="card-description">Dashboard <code>order-status</code></p>
                    <hr/>
                    <div class="table-responsive">
                        <div class="wrapper">
                            <div id="mymsg" style="display:none">
                                <div class="alert alert-success"
                                    id="alert"
                                    role="alert"
                                    style="cursor: pointer; opacity: 0.85">
                                <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close"
                                ><span aria-hidden="true">&times;</span>
                                </button>
                                    <strong>Success!</strong><span id="msg-track"></span>
                                    <div
                                        class="progress active"
                                        role="progressbar"
                                        style="height: 5px"
                                    >
                                        <div
                                            class="progress-bar bg-success"
                                            id="pb"
                                            style="width: 100%; opacity: 0.5"
                                        ></div>
                                    </div>
                                </div>
                            </div>    <h4>Track Order</h4>
    <ol class="ProgressBar">
        {% for status_code, status_label in orderstatus %}
            <li class="ProgressBar-step
                {% if status_code < order_status_int %}is-complete{% endif %}
                {% if status_code == order_status_int %}is-current{% endif %}
            ">
                <svg class="ProgressBar-icon" width="24" height="24">
                    <use xlink:href="#checkmark-bold"/>
                </svg>
                <span class="ProgressBar-stepLabel">{{ status_label }}</span>
            </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}

